extends layout

block content
  h1 This is electronics.pug page
  p Welcome to Pug #{title}
    - const results = [ { type: 'Fan', manufacturer: 'Havels', cost: 50 }, { type: 'Light', manufacturer: 'Philips', cost: 30 }, { type: 'Television', manufacturer: 'LG', cost: 150 }]

    div.container-fluid
    div.row
        each item in results
            div.col-sm-2
            div
            p Type: #{item.type}
            p Manufacturer: #{item.manufacturer}
            p Cost: $#{item.cost}
  